ul#task-list li.task-entry {
    margin-top: 1px;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    min-height: 32px;
    padding-top: 5px;
}

.task-delete {
    margin-right: 10px;
}

.deleted-text {
    text-decoration: line-through;
}

.input-group {
    margin-bottom: 20px;
}

#create-task-btn {
   height: 34px;
}

.list-container { 
    margin: 0px 20px 60px 270px;
}

.control-label {
    font-size: 20px;
}

.list-menu {
    position: fixed;
    padding-bottom: 34px; /*to prevent overlapping of multipty-list-container by the list-add-button*/
    border-right: 1px solid #DCDCDC;	
    height: 100%;
    width: 250px;
}

#list-add-button {
    position: absolute;	
    bottom: 0;
    width: 251px;
    border-style: none;
    border: 1px solid #DCDCDC; 
    border-radius: 0px; 
    margin-left: -1px;
}

.multiple-list-container {
    height: 100%;
    width: inherit;
    overflow-y: auto;
}

#search-group {	
	width: 251px;
	margin-bottom: 0px;
}

.search-style {
	border-radius: 0px;
	height: inherit;
}