 <div class="list-container">        
    <label for="message-text" class="control-label">Content of the task:</label>
    <div class="input-group">
        <input type="text" class="form-control todo-input-text" placeholder="What should be done?" autofocus ng-model="todo.currentItemTitle" required/>
        <span class="input-group-btn">
            <button class="btn btn-default" id="create-task-btn" type="button">Add new task</button>
        </span>
    </div> 

    <div id="alertEmptyField" class="alert alert-warning hide fade in">
             To-do content can not be empty
    </div>
<ul id="task-list" class="list-unstyled">
    <!-- Note that currently into every item TODO instance is passed and TODO controller as well
        which is not great
     -->
    <todo-item todo="item" todos="todo" ng-repeat="item in todo.todos"></todo-item>   
</ul>
