<h2 class="todo-editor__header">ToDo Editor</h2>
<div class="todo-editor form-group">
    <input type="text" class="form-control" ng-model="todo.todo_title">
    <div class="todo-editor__tag-container">
        <div class="tag-item" ng-repeat="todo_tag in todo.todo_tags">
            <a href="#" class="tag-text">#{{ todo_tag.title }}</a>
        </div>
    </div>

    <div class='input-group date'>
        <pre>Complete until: <em>{{ todo.todo_complete_date | date:'fullDate' }}</em></pre>
        <!-- <uib-datepicker ng-model="todo.todo_complete_date" class="well well-sm" datepicker-options="inlineOptions"></uib-datepicker> -->
    </div>
</div>