 <div class="list-container">        
    <label for="message-text" class="control-label">Content of the task:</label>
    <div class="input-group">
        <input type="text" class="form-control todo-input-text" placeholder="What should be done?" autofocus ng-model="todo.currentItemTitle" required/>
        <span class="input-group-btn">
            <button class="btn btn-default" id="create-task-btn" type="button">Add new task</button>
        </span>
    </div> 

    <div id="alertEmptyField" class="alert alert-warning hide fade in">
             To-do content can not be empty
    </div>
<ul id="task-list" class="list-unstyled">
    <li id="task-entry-{{ item.todo_id }}" class="task-entry" ng-repeat="item in todo.todos">
        <input type="checkbox" class="col-xs-2 col-md-1 col-sm-1">
        <div class="task-title col-xs-8 col-md-10 col-sm-10">{{ item.todo_title }}</div>
        <span class="glyphicon glyphicon-trash pull-right task-delete" ng-click="todo.removeTodo(item.todo_id)"></span>
    </li>
</ul>
